:root {
  --link-color: #87ceeb;
  --link-color-hover: #abe7ff;
  --hover-back: rgba(50, 49, 102, 0.5);
  --text-color: var(--gray-12);
}
@media (prefers-color-scheme: light) {
  :root {
    --link-color: #12a9c4;
    --link-color-hover: #58bfd1;
    --hover-back: rgba(117, 159, 179, 0.5);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  font-family: 'Varela Round', sans-serif !important;
}

a {
  color: var(--link-color);
  transition: 0.1s color;
}
a:hover {
  color: var(--link-color-hover);
}
a.bright {
  color: var(--link-color-hover);
}
@media (prefers-color-scheme: light) {
  a.bright {
    color: var(--text-color);
  }
}

.header {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}

.logo {
  color: var(--link-color-hover);
}

.nav-content a {
  color: var(--text-color);
}

.nav-content {
  margin-top: -60px
}

.nav-content a span {
  padding: 20px
}

.nav-content span:hover {
  background-color: var(--hover-back);
}

.entry {
  padding: 20px
}

.entry:hover {
  background-color: var(--hover-back);
}

.active {
  background-color: var(--hover-back);
}

.infoCard:hover {
  scale: 1.05;
  transition-duration: 0.5s;
}

.infoCard:not(:hover) {
  scale: 1;
  transition-duration: 0.5s;
}