@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  font-family: 'Varela Round', sans-serif !important;
}

.header {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}

.nav-content {
  margin-top: -60px
}

.nav-content a span {
  padding: 20px
}

.nav-content span:hover {
  background-color:rgba(117, 118, 179, 0.5);
}

.active {
  background-color: rgba(117, 118, 179, 0.5);;
}

.infoCard:hover {
  scale: 1.05;
  transition-duration: 0.5s;
}

.infoCard:not(:hover) {
  scale: 1;
  transition-duration: 0.5s;
}