.content div {
    border-radius: 10px
}

.hover {
  background-color: var(--light-blue);
  scale: 1;
  transition-duration: 0.5s;
  will-change: transform;
}

.hover:hover {
  scale: 1.01;
  transition-duration: 0.5s;
}

  .pack:hover {
    cursor: url('/cursor.png'), auto;
  }


@media (prefers-color-scheme: light) {
  .player, .player:hover {
    color: var(--text-color);
  }
}